# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de WhatsApp con Baileys
WHATSAPP_SESSION_NAME=zenda-session
WHATSAPP_MAX_RECONNECT_ATTEMPTS=5
WHATSAPP_RECONNECT_DELAY=5000

# Configuración de seguridad
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/zenda-wp-api
MONGODB_DATABASE=zenda-wp-api