# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de WhatsApp con Baileys
WHATSAPP_SESSION_NAME=zenda-session
WHATSAPP_MAX_RECONNECT_ATTEMPTS=5
WHATSAPP_RECONNECT_DELAY=5000

# Configuración de seguridad y autenticación
JWT_SECRET=tu-secreto-super-seguro-para-jwt
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Configuración de MongoDB
MONGODB_URI=mongodb+srv://geremiasreyero_db_user:<pass>@zenda.vxp8yfk.mongodb.net/?retryWrites=true&w=majority&appName=zenda
MONGODB_DATABASE=zenda-mvp